<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | DigitalWorld</title>
    <link rel="stylesheet" href="css/login.css">
</head>
<body>
    <main>
        <section class="container">
            <div class="main-container">
                <section class="container-logo"> 
                    <h1 class="logo">
                        <svg viewBox="0 0 226.723 233.833" height="233.833" width="226.723" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" id="svg">
                            <defs xmlns="http://www.w3.org/2000/svg">
                                <linearGradient id="linear-gradient" x1="0.5" x2="0.5" y2="1.2" gradientUnits="objectBoundingBox">
                                    <stop offset="0.091" stop-color="#ffc117"></stop> <!--mitad color logo izquierdo-->
                                    <stop offset="0.8" stop-color=""></stop><!--mitad color logo derecho-->
                                </linearGradient>
                                <linearGradient id="linear-gradient-4" x1="0.5" x2="0.5" y2="1" gradientUnits="objectBoundingBox">
                                    <stop offset="0" stop-color="#fd7e14"></stop> <!--mitad color circle superior-->
                                    <stop offset="0.619" stop-color="#db1529"></stop><!--mitad color circle medio-->
                                    <stop offset="1" stop-color="#630f17"></stop><!--mitad color circle inferior-->
                                </linearGradient>
                            </defs>
                            <g xmlns="http://www.w3.org/2000/svg" id="Grupo_19936" data-name="Grupo 19936" transform="translate(-235.847 -293.46)">
                                <path id="Caminho_78327" data-name="Caminho 78327" d="M2.4,0h21.07c6.811,0,10.437-4.312,10.437-9.261V-25.088c0-4.9-3.626-9.212-10.437-9.212H2.4ZM23.765-11.123c0,2.009-.98,2.989-3.087,2.989H12.593V-26.166h8.085c2.107,0,3.087.98,3.087,2.989ZM48.51-34.3H38.367V0H48.51ZM67.865-13.083l6.713.49L74.529-8.33l-8.477.049c-2.107,0-2.891-1.176-2.891-2.793V-23.226c0-1.666.784-2.793,2.891-2.793H81.879l.049-8.134s-10.486-.441-18.669-.441c-6.811,0-10.241,4.41-10.241,9.31V-9.016c0,4.9,3.43,9.31,10.241,9.31,7.938,0,18.669-.735,18.669-.735A1.671,1.671,0,0,0,83.5-2.156l.49-18.228H67.865Zm34.447,0,6.713.49-.049,4.263-8.477.049c-2.107,0-2.891-1.176-2.891-2.793V-23.226c0-1.666.784-2.793,2.891-2.793h15.827l.049-8.134s-10.486-.441-18.669-.441c-6.811,0-10.241,4.41-10.241,9.31V-9.016c0,4.9,3.43,9.31,10.241,9.31,7.938,0,18.669-.735,18.669-.735a1.671,1.671,0,0,0,1.568-1.715l.49-18.228H102.312ZM132.545-34.3H122.4V0h10.143Zm34.692,0h-31.36v8.33h10.584V0h10.192V-25.97h10.584ZM189.875,0H200.8s-9.506-30.331-10.29-32.781c-.49-1.47-.637-1.519-2.646-1.519H176.449c-2.009,0-2.156.049-2.6,1.519C173.068-30.331,163.513,0,163.513,0h10.976l1.96-7.154h11.466Zm-8.281-26.607h1.176l3.038,11.123h-7.252ZM203.1,0h26.019V-8.379H213.3V-34.3H203.1Z" transform="translate(233.446 507.836)" fill="#fff"></path>
                                <g id="Grupo_19930" data-name="Grupo 19930" transform="translate(260.447 293.46)">
                                    <g id="Elipse_14389" data-name="Elipse 14389" transform="translate(5.621 8.892)" fill="none" stroke="#20aee1" stroke-width="7">
                                    </g>
                                    <path id="Subtração_2" data-name="Subtração 2" d="M21.062,123.066h0c-6.015,0-10.891-1.455-14.493-4.324-4-3.186-6.2-7.909-6.526-14.038C-.408,96.323,2.68,85.8,8.973,74.261c6.453-11.828,15.94-24.049,27.436-35.343A169.575,169.575,0,0,1,74.565,10.394C87.316,3.594,99.068,0,108.551,0c6.013,0,10.888,1.455,14.491,4.324,4,3.186,6.2,7.91,6.527,14.039.451,8.382-2.637,18.909-8.93,30.443C114.185,60.633,104.7,72.854,93.2,84.148a169.562,169.562,0,0,1-38.154,28.524C42.3,119.472,30.545,123.066,21.062,123.066ZM111.082,5.744v0c-8.375,0-18.977,3.376-30.659,9.761a163.013,163.013,0,0,0-35.2,26.623C34.5,52.662,25.622,63.974,19.541,74.844,13.6,85.454,10.679,94.99,11.079,102.421c.271,5.034,2.06,8.9,5.317,11.5,2.929,2.333,6.914,3.516,11.843,3.518,8.374,0,18.975-3.375,30.657-9.76A163.029,163.029,0,0,0,94.1,81.05c10.72-10.532,19.6-21.844,25.682-32.714,5.936-10.611,8.862-20.147,8.462-27.577-.271-5.035-2.06-8.9-5.317-11.5-2.93-2.333-6.913-3.516-11.839-3.516Z" transform="translate(35.216 150.153) rotate(-90)" fill="url(#linear-gradient)"></path>
                                    <path id="Subtração_3" data-name="Subtração 3" d="M102.385,131.545h0c-8.871,0-19.909-3.867-31.92-11.184-12.291-7.487-24.738-18.089-35.995-30.66A178.21,178.21,0,0,1,15.2,63.982a121.314,121.314,0,0,1-11.769-24.6C.817,31.564-.311,24.588.073,18.654c.4-6.144,2.409-10.9,5.977-14.128C9.368,1.523,13.862,0,19.408,0,28.28,0,39.319,3.868,51.332,11.184c12.292,7.487,24.739,18.088,36,30.658A178.237,178.237,0,0,1,106.6,67.563a121.313,121.313,0,0,1,11.769,24.6c2.61,7.822,3.738,14.8,3.352,20.732-.4,6.144-2.41,10.9-5.978,14.127C112.426,130.022,107.932,131.545,102.385,131.545ZM26.218,6.02v0c-4.551,0-8.228,1.241-10.93,3.686-3.073,2.782-4.727,6.961-4.917,12.423-.184,5.275,1,11.518,3.516,18.555,5.176,14.472,15.406,30.683,28.806,45.647,10.469,11.691,21.948,21.581,33.2,28.6A84.82,84.82,0,0,0,91.4,122.714a39.4,39.4,0,0,0,13.291,2.715c4.551,0,8.228-1.24,10.931-3.686,3.073-2.782,4.727-6.961,4.917-12.423.184-5.275-1-11.518-3.516-18.555-5.176-14.473-15.406-30.684-28.806-45.646-10.47-11.692-21.949-21.583-33.2-28.6A84.8,84.8,0,0,0,39.51,8.736,39.389,39.389,0,0,0,26.218,6.022Z" transform="translate(0 105.477) rotate(-60)" fill="url(#linear-gradient)"></path>
                                    <path id="Subtração_4" data-name="Subtração 4" d="M100.891,131.508c-8.742,0-19.62-3.866-31.458-11.181-12.112-7.485-24.378-18.084-35.471-30.651a177.987,177.987,0,0,1-18.99-25.712,122.066,122.066,0,0,1-11.6-24.589C.8,31.555-.307,24.581.072,18.649.465,12.507,2.447,7.755,5.963,4.525,9.232,1.523,13.66,0,19.125,0c8.743,0,19.621,3.866,31.458,11.181C62.7,18.666,74.961,29.264,86.054,41.83a178.005,178.005,0,0,1,18.99,25.714,122.072,122.072,0,0,1,11.6,24.59c2.571,7.82,3.683,14.793,3.3,20.726-.393,6.142-2.374,10.894-5.89,14.124C110.785,129.985,106.356,131.508,100.891,131.508ZM25.537,6.233c-4.444,0-8.035,1.229-10.673,3.652-3,2.757-4.617,6.9-4.8,12.312-.179,5.228.976,11.415,3.435,18.389,5.056,14.342,15.049,30.408,28.139,45.237,10.228,11.588,21.442,21.39,32.43,28.346a82.381,82.381,0,0,0,15.148,7.712,38,38,0,0,0,12.985,2.69c4.444,0,8.035-1.231,10.673-3.653,3-2.757,4.617-6.9,4.8-12.312.179-5.228-.976-11.415-3.435-18.389C109.181,75.873,99.188,59.808,86.1,44.979,75.871,33.392,64.656,23.59,53.669,16.634A82.378,82.378,0,0,0,38.521,8.922,38,38,0,0,0,25.537,6.233Z" transform="translate(40.974 166.217) rotate(-105)" fill="url(#linear-gradient)"></path>
                                </g>
                                <path id="Caminho_78326" data-name="brayan" d="M11.568,0l3.056-11.424H13.1l-2.32,9.5h-.032l-2.528-9.5H6.576l-2.56,9.5H3.984l-2.24-9.5H.192L3.12,0H4.7l2.64-9.6h.032L9.984,0ZM32.944-5.712a6.586,6.586,0,0,1,.224-1.7,4.628,4.628,0,0,1,.7-1.512,3.6,3.6,0,0,1,1.232-1.08,3.706,3.706,0,0,1,1.792-.408,3.706,3.706,0,0,1,1.792.408,3.6,3.6,0,0,1,1.232,1.08,4.628,4.628,0,0,1,.7,1.512,6.586,6.586,0,0,1,.224,1.7,6.586,6.586,0,0,1-.224,1.7,4.628,4.628,0,0,1-.7,1.512,3.6,3.6,0,0,1-1.232,1.08,3.706,3.706,0,0,1-1.792.408A3.706,3.706,0,0,1,35.1-1.416,3.6,3.6,0,0,1,33.872-2.5a4.628,4.628,0,0,1-.7-1.512A6.586,6.586,0,0,1,32.944-5.712Zm-1.52,0a7.362,7.362,0,0,0,.344,2.248A5.665,5.665,0,0,0,32.8-1.552a4.952,4.952,0,0,0,1.712,1.32A5.484,5.484,0,0,0,36.9.256,5.484,5.484,0,0,0,39.28-.232a4.952,4.952,0,0,0,1.712-1.32,5.665,5.665,0,0,0,1.032-1.912,7.362,7.362,0,0,0,.344-2.248,7.362,7.362,0,0,0-.344-2.248,5.665,5.665,0,0,0-1.032-1.912A5.037,5.037,0,0,0,39.28-11.2a5.409,5.409,0,0,0-2.384-.5,5.409,5.409,0,0,0-2.384.5A5.037,5.037,0,0,0,32.8-9.872,5.665,5.665,0,0,0,31.768-7.96,7.362,7.362,0,0,0,31.424-5.712Zm28.8-5.712V0h1.52V-4.88h3.712a2.018,2.018,0,0,1,.9.168,1.5,1.5,0,0,1,.544.448,1.857,1.857,0,0,1,.3.656q.1.376.16.792a5.576,5.576,0,0,1,.1.848q.016.432.032.808a4.931,4.931,0,0,0,.072.68.954.954,0,0,0,.216.48h1.7a1.953,1.953,0,0,1-.36-.664,5.205,5.205,0,0,1-.184-.792,7.364,7.364,0,0,1-.08-.848q-.016-.432-.048-.848a7.356,7.356,0,0,0-.136-.8,2.428,2.428,0,0,0-.272-.7,1.754,1.754,0,0,0-.5-.536,2.035,2.035,0,0,0-.808-.32v-.032A2.43,2.43,0,0,0,68.6-6.608a3.467,3.467,0,0,0,.472-1.824,2.753,2.753,0,0,0-.92-2.192,3.762,3.762,0,0,0-2.552-.8ZM64.912-6.16H61.744v-3.984H65.52a1.972,1.972,0,0,1,1.552.544,2.049,2.049,0,0,1,.48,1.408,2.1,2.1,0,0,1-.216,1.016,1.709,1.709,0,0,1-.576.624,2.2,2.2,0,0,1-.84.312A6.127,6.127,0,0,1,64.912-6.16Zm22.272-5.264V0h7.568V-1.28H88.7V-11.424ZM113.6-1.28v-8.864h2.56a4.683,4.683,0,0,1,1.776.3,2.882,2.882,0,0,1,1.176.864,3.512,3.512,0,0,1,.656,1.376,7.647,7.647,0,0,1,.2,1.832,6.522,6.522,0,0,1-.216,1.8,4.384,4.384,0,0,1-.552,1.24,2.888,2.888,0,0,1-.76.784,3.729,3.729,0,0,1-.856.44,3.59,3.59,0,0,1-.816.192,6.375,6.375,0,0,1-.64.04Zm-1.52-10.144V0H116a6.857,6.857,0,0,0,2.464-.4,4.3,4.3,0,0,0,1.712-1.16,4.77,4.77,0,0,0,.992-1.872,9.247,9.247,0,0,0,.32-2.552,5.381,5.381,0,0,0-1.424-4.1A5.7,5.7,0,0,0,116-11.424Z" transform="translate(287.446 527.037)" fill="#c7990e"></path>
                            </g>
                        </svg>
                    </h1>
                    <!-- <p class="sub-txt">Ingrese sus datos y acceda a nuestra plataforma</p> -->
                    <div class="bt-borda mt-4">
                        <a href="#/" class="btn-padrao"></a>
                    </div>
                </section>
                <section class="login">
                    <form class="form" id="formLogin" action="/login" method="POST">
                        <div class="datos">
                            <fieldset class="contenido">
                                <label for="user" class="title">SIGN IN TO YOUR ACCOUNT</label>
                                <input type="text" id="user" name="user" placeholder="Enter Username" required="required" aria-required="true">
                            </fieldset>
                            <fieldset class="contenido">
                               <label for="pass"></label>
                                <input type="password" id="pass" name="pass" placeholder="Enter Password" required="required" aria-required="true">
                            </fieldset>
                        </div>
                        <div class="remember">
                            <fieldset>
                                <input type="checkbox" id="">
                                <label for="remenber" >Remember Me</label>
                            </fieldset>
                            <a href="" class="r">Forgot Password?</a>
                        </div>
                        <button type="submit" id="button-iniciar">SIGN IN</button>
                    </form>
                        <fieldset>
                            <span class="cadastrar">
                                <p>Dont't have an account?
                                    <a class="registro" href="/register"> Create Account?</a>
                                </p>
                            </span>
                        </fieldset>
                    
                </section>
            </div>
        </section>
        
    </main>
    <footer class="footer">
        <p class="text-footer">
            2022 © DiggitalWorld
            <span>All rights reserved</span>
        </p>
        <section>
            <figure>
                <img src="img/digitalWorld.02b871c1.svg" alt="Diggital World" class="logo logo-footer">
            </figure>
        </section>

    </footer>

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <% if(alert) { %>
        <script>
        Swal.fire({
            title: '<%= alertTitle %>',
            text:'<%= alertMessage %>',
            icon:'<%= alertIcon %>',
            showConfirmButton: <%= showConfirmButton %>,
            timer: <%= timer %>
        }).then(()=>{
            window.location = '/<%= ruta %>'
        })
        </script>
     <% } %>
   
</body>
</html>