<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Withdraw | DiggitalWorld</title>
    <link rel="stylesheet" href="css/withdraw.css">
</head>
<body class="app">
    <div class="container">
        <header class="header-container">
            <img class="app-logo me-sm-5 mb-3 mb-sm-0" src="/img/logo.7b621426.svg" alt="">
            
                <div class="app-search">
                    <input id="contenido" name="contenido" type="text" value="https://digitalWorld.com/auth/register?c=72799710">
                    <a id="copiar" class="copy-clipboard">
                        <svg class="app-search-icon" viewBox="0 0 24 24">
                            <path fill="none" d="M0 0h24v24H0z"></path>
                            <path d="M7 6V3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1h-3v3c0 .552-.45 1-1.007 1H4.007A1.001 1.001 0 0 1 3 21l.003-14c0-.552.45-1 1.007-1H7zM5.003 8L5 20h10V8H5.003zM9 6h8v10h2V4H9v2z">
                            </path>
                        </svg>
                        <span id="message"></span>
                    </a>
                </div>
                <div class="userName"><p>
                    <% if (user) { %>
                        <span class="badge bg-success"><%= user.user %></span>
                    <% } %></p>
                </div>
            <!-- <img class="profile" src="/icons/8.png" alt="perfil"> -->
        </header>
    </div>

    <div class="main-container">
        <main class="app-main-container">
            <nav class="app-navbar">
                <ul class="menuTopIcons">
                    <li class="">
                        <a href="/">
                            <div class="app-navbar-icon">                        
                                <img src="/icons/home.png" alt="Home">
                            </div>
                            <span>Home</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="deposit">
                            <div class="app-navbar-icon">                        
                                <img src="/icons/deposit.png" alt="Diposit">
                            </div>
                            <span class="deposit">Deposit</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="Team">
                            <div class="app-navbar-icon">                        
                                <img src="/icons/afiliados2.png" alt="Team">
                            </div>
                            <span>Team</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="withdraw">
                            <div class="app-navbar-icon">                        
                                <img src="/icons/finanzas.png" alt="Withdraw">
                            </div>
                            <span class="withdraw">Withdraw</span>
                        </a>
                    </li>
                    <!-- <li class="">
                        <a href="finance">
                            <div class="app-navbar-icon">                        
                                <img src="/icons/retiro.png" alt="Finance">
                            </div>
                            <span>Finance</span>
                        </a>
                    </li> -->
                    <li class="nft">
                        <div class="app-navbar-icon">                        
                            <img src="/icons/NFT-icon.png" alt=" nft">
                        </div>
                        <span>NFT</span>
                    </li>
                    <li class="">
                        <a href="AboutUs">
                            <div class="app-navbar-icon">                        
                                <img src="/icons/tickets.png" alt="Interest">
                            </div>
                            <span class="about">About us</span>
                        </a>
                    </li>
                </ul>
            </nav>    
        </main>
    </div>
    <main class="main">
        <div class="main-section">
            <section class="overall-profit">
                <div class="deposit-terms">
                    <h2>Deposit terms</h2>
                    <p>-Minimum deposit 20 USDT</p>
                    <p>-Transfer cost 1 USDT</p>   
                </div>
                <div class="input-deposit">
                    <form class="uploading-form" method="post" action="/withdraw"  id="uploadForm">
                        <section>
                            <p>
                                <strong>Red</strong> <br>
                                TRX Tron (TRC20)
                            </p>
                        </section>
                        <label for="userName">User</label>
                        <input type="text" name="userName" id="userName" placeholder="Enter Username" required aria-required="true">

                        <label for="wallet">Withdrawl Wallet </label>
                        <input type="text" name="wallet" id="direction" placeholder="Enter your withdrawal address" required>

                        <label for="usdRetiro">USDT Amount</label>
                        <input type="number" name="usdRetiro" id="depositTotal" placeholder="Enter amount" required>

                        <input class="btn-submit" type="submit">


                    </form>
                </div>
            </section>
        </div>   
    </main>
    <footer class="footer">
        <section class="footer-container">
            <p class="text-footer">
                2022 © DiggitalWorld
                <span>All rights reserved</span>
            </p>
        </section>        
    </footer>


    <script src="js/btnCopy.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

        <% if (typeof alert != "undefined")  { %>
        <script>
        Swal.fire({
        title:'<%= alertTitle %>',
        text:'<%= alertMessage %>',
        icon:'<%= alertIcon %>',
        showConfirmButton: '<%= showConfirmButton %>',
        timer: '<%= timer %>'
        }).then(()=>{
        window.location='/<%= ruta %>'
        })
        </script>
        <% } %>

</body>
</html>